<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <section>
            <div class="container mt-5 p-5">
                <div class="row">               
                    
                    <div class="col-md-7 p-2 offset-md-2">
                        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                            <div class="card-header text-center">
                                <p class="fs-4 text-center">Agregar Administrador</p>
                                
                                <th:block th:if= "${session.succMsg}">
                                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>

                                <th:block th:if= "${session.errorMsg}">
                                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>
                                
                            </div>
                            <div class="card-body">
                                <form action="/admin/save-admin"  method="post" enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Nombre Completo</label> <input required
                                                class="form-control" name="name" type="text">
                                        </div>

                                        <div class="col">
                                            <label class="form-label">Teléfono</label> <input required
                                                class="form-control" name="mobileNumber" type="number">
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Correo</label> <input required
                                            class="form-control" name="email" type="email">
                                    </div>


                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Dirección</label> <input required
                                                class="form-control" name="address" type="text">
                                        </div>

                                        <div class="col">
                                            <label class="form-label">Municipio</label> <input required
                                                class="form-control" name="city" type="text">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Estado</label> <input required
                                                class="form-control" name="state" type="text">
                                        </div>

                                        <div class="col">
                                            <label class="form-label">Codigo Postal</label> <input required
                                                class="form-control" name="pincode" type="number">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Contrasena</label> <input required
                                                class="form-control" name="password" type="password">
                                        </div>

                                        <div class="col">
                                            <label class="form-label">Confirmar Contrasena</label> <input required
                                                class="form-control" name="cpassword" type="password">
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Imagen de Perfil</label> <input required
                                            class="form-control" name="img" type="file">
                                    </div>
                                    <button type="submit"
                                            class="btn bg-primary text-white col-md-12">Agregar Administrador</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>
