<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{base::layout(~{::section})}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <div class="container-fluid p-5 mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                            <div class="card-header text-center">

                                <p class="fs-4">Agregar Categoria</p>
                                <th:block th:if= "${session.succMsg}">
                                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>

                                <th:block th:if= "${session.errorMsg}">
                                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>

                            </div>
                            <div class="card-body">
                                <form action="/admin/saveCategory" method="post"
                                      enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label>Titulo</label> <input type="text" name="name"
                                                                     class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label>Estado</label>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" checked
                                                   value="true" name="isActivate" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Activo </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="isActivate"
                                                   value="false" id="flexRadioDefault2"> <label
                                                   class="form-check-label" for="flexRadioDefault2">
                                                Inactivo </label>
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <label>Cargar Imagen</label> <input type="file" name="file"
                                                                            class="form-control">
                                    </div>
                                    <button class="btn btn-primary col-md-12 mt-2">Guardar</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8">
                        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                            <div class="card-header text-center fs-4">Detalles Categoria</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">SI No</th>
                                            <th scope="col">Categoria</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Imagen</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cat,c:${categorys}">
                                            <th scope="row">[[${c.count}]]</th>
                                            <td>[[${cat.name}]]</td>
                                            <th>[[${cat.isActive}]]</th>
                                            <td><img th:src="@{'/img/category/'+${cat.imgName}}" width="50px"
                                                     height="50px"</td>
                                            <td>
                                                <a th:href="@{'/admin/loadEditCategory/' + ${cat.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-1x"></i>Editar</a>
                                                <a th:href="@{'/admin/deleteCategory/' + ${cat.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash fa-1x"></i>Eliminar</a>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Start Pagination -->
                                <div class="row">
                                    <div class="col-md-4">Total de Categoria: [[${totalElements}]]</div>
                                    <div class="col-md-6"> 
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" th:classappend="${isFirst} ? 'disabled':''"
                                                       th:href="@{'/admin/categoria?pageNo='+${pageNo-1}}">Anterior</a></li>
                                                <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"
                                                    th:classappend="${pageNo+1==i}?'active':''">
                                                    <a class="page-link" th:href="@{'/admin/categoria?pageNo='+${i-1}}">[[${i}]]</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" th:classappend="${isLast} ? 'disabled':''" th:href="@{'/admin/categoria?pageNo='+${pageNo+1}}">Siguiente</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </body>
</html>
